.p-u{
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3)),url('../../Image/Update-Profile/pu-bg.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 30px;
    
}
.upf-bg{
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url('../../Image/Update-Profile/upf-bg.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-position: top; */
    /* background-size: cover; */
    padding-bottom: 30px;
    padding-top: 50px;
    
}




.up-form{
    margin-bottom: 50px !important;
    width: 70%;
    padding: 30px;
    box-shadow: 1px 5px 10px 2px rgb(218, 216, 216);
    border-radius: 5px;
    margin: auto;
}

.up-input{
    width: 100%;
    height: 35px;
    padding-left: 10px;
}

.up-b{
    width: 100%;
    height: 40px;
    background-color: rgb(224, 24, 224);
    border: 1px solid rgb(224, 14, 224);
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.up-b:hover{
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(224, 14, 224);
    border-radius: 5px;
    color: rgb(226, 17, 226);
    font-weight: 700;
}

.up-p{
    color: rgb(228, 26, 228);
}

.up-h4{
    text-align: center;
    border-bottom: 2px solid rgb(226, 15, 226);
    padding-bottom: 15px;
    font-weight: 700;
    color: rgb(199, 23, 199);
}




@media only screen and (min-width: 320px) and (max-width:  480px) {
    .up-form{
        margin-bottom: 50px !important;
        width: 100%;
        padding: 30px;
        box-shadow: 1px 5px 10px 2px rgb(218, 216, 216);
        border-radius: 5px;
        margin: auto;
    }
}