.h-news{
    margin-top: 70px;
}

.h-n-ti{
    text-align: center;
    border-bottom: 2px solid rgb(214, 27, 214);
    border-top: 2px solid rgb(214, 27, 214);
    padding-bottom: 5px;
    font-weight: 700;
}

.n-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.company-news{
    width: 48%;
    height: 400px;
}
.team-news{
    width: 48%;
    height: 400px;
}

.cn{
    color: rgb(131, 131, 131);
    font-weight: 700;
    text-align: center;
    background-color: rgba(32, 31, 31, 0.884);
    padding-bottom: 15px;
    padding-top: 10px;
    color: rgb(219, 22, 219);
}
.tn{
    color: rgb(131, 131, 131);
    font-weight: 700;
    text-align: center;
    background-color: rgba(32, 31, 31, 0.883);
    padding-bottom: 15px;
    padding-top: 10px;
    color: rgb(219, 31, 219);
}

.s-news{
    border: 1px solid rgb(199, 198, 198);
    padding: 10px;
}

.n-i{
    height: 90px !important;
    width: 150px !important;
}




@media only screen and (min-width: 320px) and (max-width:  480px) {

    .n-flex{
        display: block;
        margin-top: 50px;
    }

    .company-news{
        width: 100%;
        height: 400px;
    }

    .team-news{
        width: 100%;
        height: 400px;
        margin-top: 70px;
    }
}