.top-flex{
    display: flex;
    justify-content: space-between;
}

.t-border{

    border-bottom: 0.5px solid rgb(156, 156, 156);
}
.top-section{
    width: 90%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-phone{
    margin-right: 20px;
}

.top-info{
    color: white !important;
}

.top-social{
    color: white;
}



@media only screen and (min-width: 320px) and (max-width:  480px) {
    .top-section{
        display: none;
    }
    
}