.p-i{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url('../../Image/Personal-Info/pi-bg.webp');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-bottom: 30px;
    
}

.pi-bc{
    background-color: rgb(238, 238, 238);
}

.p-i-h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 10px 5px 3px rgb(56, 56, 56);
    margin-top: 20px;
}

.p-i-p{
    color: white;
    text-align: center;
}

.pi-i{
    height: 150px;
    width: 150px;
}




@media only screen and (min-width: 320px) and (max-width:  480px) {
    .p-i-h1{
        text-align: center;
        color: white;
        font-size: 40px;
        font-weight: 700;
        text-shadow: 10px 5px 3px rgb(56, 56, 56);
        margin-top: 20px;
    }
    
}